@tailwind base;
@tailwind components;
@tailwind utilities;

.text-ring {
  position: relative;
}
.text-ring [style*="--index"] {
  text-transform: uppercase;
  font-weight: normal;
  font-size: calc(var(--font-size, 1.8) * 1rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
    rotate(calc(360deg / var(--total) * var(--index)))
    translateY(calc(var(--radius, 5) * -1ch));
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-secondary;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary-on-container rounded-md;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-on-container/50;
  }
}
